{% extends "base.html" %}
{% block contact %}
<div class="page-contact container">
    <div class="contact-title">
        <h1>Liên hệ</h1>
    </div>
    <div class="section-form-contact align-items-start">
        <div class="list-contact-info ">
            <h3>Trụ sở chính</h3>
            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7023132904424!2d106.64223167457556!3d10.834077958128631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752976442129c1%3A0x42791759a90566a0!2zNjQxIMSQLiBUw6JuIFPGoW4sIFBoxrDhu51uZyAxNSwgR8OyIFbhuqVwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1711450666573!5m2!1svi!2s"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contact-left-info">
                <p>Văn phòng: 641 Tân Sơn, P.12, Q.Gò Vấp, Tp.Hồ Chí Minh</p>
                <p>Điện thoại: 0333568796 - 0334682202</p>
                <p>Email: golfshops@gmail.com</p>
                <p>Website: golfshops@gamil.com</p>
                <p>Fanpage: facebook.com/golfshops.shop</p>
            </div>
        </div>
        <div class="list-form-contact">
            <h3>Gửi thông tin liên hệ</h3>
            <form action="" method="post">
                <div class="form-group">
                    <input id="fullname" name="fullname" type="text" placeholder="Họ & Tên" class="form-control">
                    <label for=""><i class="fa-solid fa-user"></i></label>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input id="email" name="email" type="text" placeholder="Email" class="form-control">
                    <label for=""><i class="fa-solid fa-envelope"></i></i></label>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input id="phone" name="phone" type="text" placeholder="Số điện thoại" class="form-control">
                    <label for=""><i class="fa-solid fa-phone"></i></label>
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <textarea name="content" id="" cols="30" rows="10" placeholder="Nội dung"></textarea>
                    <label for=""></label>
                    <span class="form-message"></span>
                </div>
                <button class="form-submit" type="submit" name="contact_submit">Gửi thông tin</button>
            </form>
            <!-- <p><?php echo $mail = "Đã gửi thành công"; ?></p> -->
            
        </div>
    </div>
    <div class="container-bot">
        <div class="content-left">
            <p>BẠN ĐANG CẦN</p>
            <div class="content-text">
                <p>ĐẶT LỊCH THỬ GẬY TẠI PHÒNG 3D</p>
            </div>
            <p>GỌI NGAY ĐỂ ĐƯỢC TƯ VẤN BỞI ĐỘI NGŨ CHUYÊN GIA HÀNG ĐẦU TẠI GOLFSHOP</p>
        </div>
        <div class="content-right">
            <div class="content-right-text">
                <p>LIÊN HỆ NGAY</p>
            </div>

            <div class="content-right-telephone">
                <p>01234.567.890</p>
            </div>
        </div>
    </div>
</div>
{% endblock contact %}