<div id="wrapper">
    <footer id="footer">
        <div class="container justify-content-space-between">
            <div class="footer-left">
                <div class="footer-logo">
                <a href="{% url "home" %}">golf shop</a>
                </div>
                <div class="operating-time">
                    <h3>Thời gian hoạt động</h3>
                    <p>
                        Mở cửs từ 8h - 22h từ Thứ 2 - Chủ nhật <br>
                        (trừ các ngày lễ tết)
                    </p>
                    <p>Có chổ đậu xe ô tô</p>
                </div>
            </div>
            <div class="footer-help">
                <h3>Trợ giúp</h3>
                <ul>
                    <li><a href="#">Chứng nhận chính hãng</a></li>
                    <li><a href="#">Điều khoản chung</a></li>
                    <li><a href="#">Chính sách thanh toán</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Chính sách bảo vệ thông tin</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Liên hệ</h3>
                <p>Văn phòng: 641 Tân Sơn, P.12, Q.Gò Vấp, Tp.Hồ Chí Minh</p>
                <p>Điện thoại: 0333568796 - 0334682202</p>
                <p>Email: golfshops@gmail.com</p>
                <p>Website: golfshops@gamil.com</p>
                <p>Fanpage: facebook.com/golfshops.shop</p>
            </div>
            <div class="footer-input">
                <h3>Đăng ký nhận tin</h3>
                <p>Nhận mã giảm giá, quà tặng, khuyến mãi qua email</p>
                <form action="" method="post">
                    <input type="text" placeholder="Nhập địa chỉ email của bạn">
                    <button><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </footer>
</div>