{% extends "base.html" %}
{% block about %}
<style>
    
    .content-top{
    font-size: 26px;
    font-weight: bold;
    padding: 0 10 10 10px;
}
.content-head{
    font-size: 22px;
}
p{
    font-size: 16px;
    padding: 10px;
}
.content-img{
    text-align: center;
    align-items: center;
    
}
img{
    width: 100%;
}
</style>
<div class="container">
        <div class="content-top">
            Về chúng tôi
        </div>
        <div class="content-head">
            Khởi nghiệp bằng khát vọng ý chí tuổi trẻ
        </div>
        <p>
            Từ khát vọng khởi nghiệp và mong muốn cống hiến được nhiều giá trị cho cộng đồng golf Việt Nam hơn nữa,
            Golfshop chính thức ra mắt vào năm 2015. Trải qua nhiều năm hình thành phát triển tốc độ, Golfshop sở hữu
            một hệ sinh thái về golf với nhiều đơn vị nổi bật.
        </p>
        <p>
            Bắt nguồn từ chuyến công tác Hàn Quốc, Nhật Bản vào đầu năm 2014, Kim Dung – Chủ tịch HĐQT Golfshop cùng TGĐ
            – Nguyễn Thị Phương Thảo thấy rằng thị trường golf ở Việt Nam còn rất nhiều tiềm năng và chưa phát triển như
            đất nước bạn. Trước sự phát triển vũ bão của 2 cường quốc đầu ngành golf trên thế giới, Chủ tịch Kim Dung
            chia sẻ: “tôi có một khát vọng muốn phát triển ngành golf, góp phần kết nối tạo nên những sân chơi thiết
            thực.
        </p>
        <p>
            Và để làm được điều này chúng tôi hiểu rõ rằng một doanh nghiệp cần có sự tập trung cao độ, quyết tâm lớn
            cùng với khát vọng rõ ràng sẽ đi xa và bền vững.
        </p>
        <p>
            Nhật và Hàn Quốc là những quốc gia tiên phong về công nghệ golf, đa dạng mẫu mã, thiết kế đẹp, song bên cạnh
            việc hợp tác kế thừa phát triển chúng tôi cùng đội ngũ cố vấn, ban chuyên môn đã mạnh dạn đầu tư vào những ý
            tưởng kinh doanh mới nhằm cá nhân hoá tối đa sản phẩm, nhằm mang lại những trải nghiệm cao cấp và đáng nhớ
            đến khách hàng.
        </p>
        <div class="content-img">
            <img src="img/thao3-1024x575.jpg" alt="">
        </div>
        <p>
            Việc sở hữu một bộ gậy golf được thiết kế riêng, khắc tên mình hay những thông điệp mà bản thân thích là
            điều mà chúng tôi đã đưa vào trong nhiều năm qua, đó không chỉ là vẻ đẹp bên ngoài nó còn toát lên khí chất
            của người sở hữu bộ gậy. Đó là trải nghiệm đặc biệt mà Golfshop nỗ lực mang lại.
        </p>
        <div class="content-head">
            Khám Phá Thế Giới Golf Tại Cửa Hàng "Golfshop"
        </div>
        <p>

            Bạn đam mê golf và đang tìm kiếm một địa điểm đáng tin cậy để mua sắm dụng cụ và trang phục cho môn thể thao
            yêu thích của mình? Hãy đến với cửa hàng "Golfshop" - nơi thỏa mãn mọi nhu cầu của bạn trong thế giới của
            golf.

        </p>
        <div class="content-head">
            Sự Đa Dạng và Chất Lượng

        </div>
        <p>
            "Golfshop" tự hào là điểm đến lý tưởng cho các golf thủ, với sự đa dạng về dụng cụ và trang phục từ các
            thương hiệu hàng đầu trên thế giới. Từ gậy golf, bóng, túi golf, giày đến quần áo và phụ kiện, chúng tôi
            mang đến cho bạn sự lựa chọn đa dạng và chất lượng cao nhất.

        </p>
        <div class="content-head">
            Phục Vụ Chuyên Nghiệp và Tận Tâm


        </div>
        <p>
            Với đội ngũ nhân viên am hiểu về golf và sự nhiệt tình, "Golfshop" cam kết mang đến cho bạn trải nghiệm mua
            sắm thú vị và tiện lợi nhất. Chúng tôi luôn sẵn lòng tư vấn và hỗ trợ bạn trong việc chọn lựa các sản phẩm
            phù hợp và đáp ứng được mọi nhu cầu của bạn.
        </p>
        <div class="content-head">
            Khám Phá Thế Giới Golf Tại "Golfshop"



        </div>
        <p>
            Ngoài việc cung cấp các sản phẩm chất lượng, "Golfshop" còn là nơi để bạn khám phá và tương tác với cộng
            đồng golf thủ. Tại đây, bạn có cơ hội chia sẻ kinh nghiệm, nhận được những mẹo hay trong trò chơi và tạo ra
            những kết nối mới thú vị.

        </p>
        <div class="content-head">
            Địa Điểm Thuận Tiện và Dễ Dàng Tiếp Cận




        </div>
        <p>
            Cửa hàng "Golfshop" tọa lạc tại vị trí thuận tiện, dễ dàng tiếp cận cho tất cả các golf thủ. Với không gian
            rộng rãi và bố trí hợp lý, chúng tôi cam kết mang lại cho bạn một trải nghiệm mua sắm thoải mái và thú vị
            nhất.

        </p>
        <p>
            Hãy đến với "Golfshop" và khám phá thế giới của golf, nơi mà bạn sẽ tìm thấy những sản phẩm chất lượng và
            dịch vụ tận tâm nhất, giúp bạn thăng hoa trong môn thể thao yêu thích của mình!
        </p>

    </div>

{%endblock %}