.page-cart {
    min-height: 700px;
    /* border: 1px solid red; */
    background: #ffffff;
}

.cart-title {
    display: block;
}

.page-cart h1 {
    width: 100%;
    text-align: center;
    margin: 40px auto;
}

.list-cart {
    width: 69%;
    min-height: 500px;
    /* border: 1px solid blue; */
}

.add-cart-title {
    width: 100%;
    height: auto;
}

.add-cart-title thead tr th {
    padding: 10px;
    color: #000000;
}

.add-cart-title tbody tr td {
    padding: 10px;
    color: #000000;
    text-align: center;
}


.amount-product-buy a {
    border: 1px solid black;
    padding: 5px;
    font-size: 10px;
    margin: 0 10px;
    color: #000000;
    border-radius: 2px;
}

.add-cart-title a {
    color: #000000;
}


/* .amount-product-buy a i {
    border: 1px solid black;
    padding: 5px;
    font-size: 10px;
    margin: 0 5px;
    color: #000000;
} */


/*  */

.payment-cart {
    width: 26%;
    min-height: 500px;
    /* border: 1px solid blue; */
}

.payment-cart h3 {
    background: #DEDEDE;
    padding: 10px 5px;
    text-align: center;
}

.voucher,
.total-payment,
.provisional {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 5px 0;
}

.delivery {
    width: 100%;
    height: 85px;
    padding: 10px;
}

.delivery .list-shipping-fee {
    width: 70%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.voucher input {
    width: 250px;
    height: 30px;
    padding: 5px;
}

.voucher button {
    padding: 5px;
    cursor: pointer;
}

.act-payment button {
    padding: 15px;
    background: #F04C28;
    border: none;
    border-radius: 10px;
    width: 90%;
    cursor: pointer;
}
.act-payment button a{
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 90px;
    text-transform: uppercase;
}
.act-payment button:hover{
    background: rgb(240, 76, 40, 0.8);
}

.return-update-cart {
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.cart-update,
.cart-return {
    width: 30%;
    height: 40px;
    line-height: 40px;
    background: #296E38;
    border-radius: 10px;
    cursor: pointer;
}
.cart-update:hover,
.cart-return:hover{
    background: rgb(41, 110, 56,0.8);
}

.cart-update a,
.cart-return a {
    text-decoration: none;
    color: #ffffff;
}

.cart-return a i {
    margin-right: 10px;
}
/*  */
.list-info-delivery{
    width: 69%;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
}

.info-delivery{
    width: 58%;
    min-height: 400px;
    margin: 10px ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px #000000;
}

/* .list-info-delivery h3{
    margin: 10px;
} */
.list-info-delivery p{
    margin: 10px;
}
.list-info-delivery p a{
    color: #2997ff;
}

/*  */
.transport-payment{
    width: 40%;
    min-height: 400px;
    margin: 10px ;
}
.transport-payment h3{
    margin: 10px;
}
.transport-payment input{
    margin: 5px 20px;
}
.transport,
.payment{
    width: 100%;
    min-height: 100px;
    box-shadow: 0 0 1px #000000;
    border-radius: 10px;
}
.transport-item,
.payment-item{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* box-shadow: 0 0 1px #000000; */
    /* border-radius: 10px; */
    border-bottom: 1px solid #DEDEDE;
}
.transport-item:last-child,
.payment-item:last-child{
    border-bottom: none;
}
textarea{
    border-radius: 10px;
    padding: 10px;
}

/*  */
.page-payment{
    min-height: 600px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.page-payment .check-payment{
    font-size: 50px;
    color: #33CC33;
}

.page-payment .payment-title h3{
    color: red;
    font-size: 26px;
    margin: 10px 0;
}
.page-payment .payment-title p{
    font-size: 20px;
    margin: 10px;
}

.page-payment .act-payment{
    width: 36%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-payment .act-payment .act-payment-detail{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 40px;
    text-decoration: none;
    color: #000000;
}

.page-payment .act-payment .act-payment-detail:hover{
    background: #FF0000;
    color: #ffffff;
    border: none;
}

.page-payment .act-payment .continue-shopping{
    background: #FF0000;
    color: #ffffff;
    border-radius: 10px;
    padding: 16px 50px;
    text-decoration: none;
}