* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}


/* header */

#header {
    width: 100%;
    height: 95px;
    background: #232F3E;
}

.header-top {
    /* width: 100%; */
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;
}


/* logo */

.header-logo,
.footer-logo {
    width: 217px;
    height: 40px;
    text-align: center;
}

.header-logo a,
.footer-logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}


/* search */

.header-search {
    position: relative;
    width: 809px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.header-search input {
    width: 809px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.header-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border: none;
    background: #09A603;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.header-search button {
    font-size: 20px;
    color: #ffffff;
}


/* login */

.header-login {
    width: 120px;
    height: 40px;
}

.header-login a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    position: relative;
}


/* cart */

.header-cart {
    width: 80px;
    height: 40px;
    position: relative;
}

.header-cart a {
    position: relative;
}

.header-cart a i {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
}

.count-cart {
    position: absolute;
    font-size: 12px;
    top: -1px;
    right: 18px;
    color: #ffffff;
    background: #F04C28;
    padding: 2px 6px;
    border-radius: 50%;
}


/* language */

.header-language {
    width: 100px;
    height: 40px;
}

.header-language a {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding: 10px 20px;
}


/* menu */

.header-nav {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background: #131921;
}

.new-menu {
    height: 100%;
}

#main-menu {
    width: 1002px;
    height: 100%;
}

#main-menu ul {
    list-style: none;
    line-height: 35px;
}

#main-menu ul li {
    position: relative;
}

#main-menu ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px;
    position: relative;
}

#main-menu ul li a i {
    font-size: 10px;
    margin-left: 5px;
}


/* header-hotline */

.header-hotline {
    width: 300px;
    height: 100%;
}

.header-hotline a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 24px;
    position: relative;
}


/* hover */

#main-menu ul li a:hover,
.header-hotline a:hover,
.header-language a:hover,
.header-cart a i:hover,
.header-login a:hover {
    color: #000;
    background-color: rgb(204, 204, 204);
}

#main-menu ul li a::before,
.header-hotline a::before,
.header-language a::before,
.header-cart a::before,
.header-login a::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 0;
    height: 2px;
    background: orangered;
    transform-origin: left;
    transition: width .5s;
}

#main-menu ul li a:hover::before,
.header-hotline a:hover::before,
.header-language a:hover::before,
.header-cart a:hover::before,
.header-login a:hover::before {
    width: 100%;
}

#main-menu ul.submenu {
    width: 250px;
    background: #ffffff;
    display: none;
    position: absolute;
    top: 35px;
    z-index: 999;
}

#main-menu li:hover  ul.submenu {
    display: block;
}

#main-menu .submenu li a {
    color: #000;
    display: block;
}

#main-menu ul.submenu ul.submenu {
    display: none;
    top: 0;
    position: absolute;
    left: 250px;
}

#main-menu ul li ul.submenu:hover ul.submenu {
    display: block;
}
/* #main-menu ul.submenu ul.sub-sub-menu{
    display: none;
    top: 0;
    position: absolute;
    left: 250px;
}
#main-menu ul li ul.submenu:hover ul.sub-sub-menu{
    display: block;
} */

/* footer */

#footer {
    width: 100%;
    height: 260px;
    background: #000;
}

.footer-left,
.footer-help,
.footer-contact,
.footer-input {
    width: 340px;
    height: 230px;
    line-height: 25px;
    margin-top: 20px;
}

.footer-left h3,
.footer-help h3,
.footer-contact h3,
.footer-input h3 {
    text-transform: uppercase;
    color: #ffffff;
}

.footer-contact,
.footer-input,
.footer-left .operating-time p {
    color: #ffffff;
}

.footer-help ul li {
    list-style: none;
}

.footer-help ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-input input {
    margin-top: 20px;
    width: 250px;
    height: 30px;
    padding: 0 5px;
}

.footer-input button {
    width: 30px;
    height: 30px;
    background: #FFA41C;
    outline: none;
    border: none;
    color: #ffffff;
    margin-left: -5px;
    cursor: pointer;
}


/*banner*/

.banner {
    width: 100%;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.banner .list-banner {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.banner .list-bannerimg {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.banner .buttons {
    position: absolute;
    top: 45%;
    left: 4%;
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.banner .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #778899;
    color: #97FFFF;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.banner .buttons button:hover {
    background-color: #296E38;
    border: 2px dotted black;
    color: #000;
}

.banner .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.banner .dots li {
    list-style: none;
    width: 15px;
    height: 10px;
    background-color: #296E38;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.banner .dots li.active {
    width: 30px;
}


/* Túi golf */


/* Thời trang golf */


/* Sản phẩm nổi bật */


/* Sản phẩm mới */


/* sản phẩm sale */


/*  */

.collection-list-product,
.product-shoe-golf,
.product-bag-golf,
.fashion-golf,
.product-outstanding,
.new-product,
.product-sale-special {
    margin-top: 40px;
    min-height: 550px;
    background: #ffffff;
}


/* title */

.product-shoe-golf .product-shoe-golf-title,
.product-bag-golf .product-bag-golf-title,
.fashion-golf .fashion-golf-title,
.product-outstanding .product-outstanding-title,
.product-sale-special .product-sale-special-title,
.new-product .new-product-title {
    width: 100%;
    height: 42px;
    background: #296E38;
    border-radius: 0 0 100px 100px;
}

.product-shoe-golf .product-shoe-golf-title a,
.product-bag-golf .product-bag-golf-title a,
.fashion-golf .fashion-golf-title a,
.product-outstanding .product-outstanding-title a,
.product-sale-special .product-sale-special-title a,
.new-product .new-product-title a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}


/* Danh sách túi golf */


/* Danh sách thời trang golf */


/* Danh sách sản phẩm nổi bật */


/* Sanh sách sản phẩm sale */


/* Danh sách sản phẩm mói*/

.list-product-shoe-golf,
.list-product-bag-golf,
.list-fashion-golf .list-roduct-outstanding,
.list-product-sale,
.list-new-product {
    width: 100%;
    min-height: 460px;
}


/* sản phẩm */


/* class css dùng chung cho mọi sản phẩm */

.item-product {
    width: 327px;
    height: 480px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #B5BDC7;
    margin-top: 15px;
}

.item-product .product-title {
    margin: 5px;
}

.item-product .product-title a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.item-product img {
    width: 100%;
    height: 327px;
}

.item-product .star {
    margin: 5px;
    display: block;
    color: #F69329;
}

.item-product .promotion-price {
    color: #dc3545;
    margin: 5px;
}

.item-product .price {
    margin: 5px 20px;
    color: #8a8a8a;
}

.item-product .label-promotion {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 5px;
    background: #2b9945;
    font-size: 11px;
    z-index: 1;
    border-radius: 5px;
    color: #ffffff;
}


/* button hành động */

.item-product .action-product {
    width: 100%;
    height: 40px;
    position: absolute;
    top: -50px;
    transition: all 0.3s ease-in-out;
}

.item-product .action-product button {
    width: 40px;
    height: 100%;
    cursor: pointer;
    background: #2b9945;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    margin: 0 5px;
}

.item-product .action-product button a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

.item-product .action-product button:hover {
    background: #F04C28;
}

.item-product:hover .action-product {
    top: 150px;
}


/* xem tất cả */

.see-more,
.view-all {
    margin: 20px 0;
}

.see-more a,
.view-all a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    background: #2b9945;
    border-radius: 10px;
    font-weight: bold;
}

.see-more a:hover,
.view-all a:hover {
    background: #F04C28;
}


/* banner flash sale */

.flash-sale-baner {
    height: 200px;
    margin-top: 40px;
}

.flash-sale-baner img {
    width: 100%;
    height: 100%;
}

.list-banner-sale {
    width: 49%;
    height: 100%;
}


/* dịch vụ hàng đầu */

.top-service-golf {
    height: 580px;
    margin: 40px auto;
    background: #ffffff;
    box-shadow: 0 0 10px #B5BDC7;
    border-radius: 10px;
}

.title-top-service h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
}

.list-top-service {
    width: 100%;
    height: 460px;
    margin: 20px 0;
}

.list-top-service .top-service {
    width: 335px;
    height: 460px;
    background: #222222;
}

.list-top-service .top-service img {
    width: 100%;
    height: 200px;
}

.list-top-service .top-service h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 10px;
}

.list-top-service .top-service p {
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
}


/* thư viện slider */

.slick-initialized .slick-slide {
    margin: 0 10px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 3px;
    z-index: 5;
    cursor: pointer;
}

.slick-arrow:hover {
    border-radius: 50%;
    background-color: #F04C28;
    color: #ffffff;
}

.slick-prev {
    background-color: #09A603;
    left: -18px;
    color: #ffffff;
    border-radius: 100%;
}

.slick-next {
    right: -18px;
    background-color: #09A603;
    color: #ffffff;
    border-radius: 100%;
}


/* dấu chấm */


/* .slick-dots{
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 43%;
    transform: translateX(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: black;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.slick-dots .slick-active button{
    background-color: #2cccff;
}  */


/* đặc trưng */

.section-featured {
    height: 120px;
    margin: 40px auto;
}

.section-featured .featured-inner {
    width: 335px;
    height: 100px;
    border: 1px solid #F04C28;
    padding: 10px 55px;
    border-radius: 10px;
}


/* tin tức và kiến thức */

.list-news-knowledge {
    min-height: 460px;
    margin: 40px auto;
}


/* Tin tức */

.list-knowledge,
.list-news {
    min-height: 400px;
    width: 49%;
}

.post-title {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}

.post-title h3 {
    text-transform: uppercase;
    color: #2b9945;
    padding: 0 10px;
}

.post-title a {
    text-decoration: none;
    color: #2b9945;
}

.list-knowledge .post-knowledge,
.list-news .post-new {
    width: 100%;
    height: 100px;
    padding: 0 10px;
    margin: 5px 0;
}


/* .list-knowledge .post-knowledge ,
.list-news .post-new .new-img{
    width: 35%;
} */

.list-knowledge .post-knowledge img,
.list-news .post-new img {
    width: 150px;
    height: 100%;
}

.list-knowledge .post-knowledge .knowledge-title,
.list-news .post-new .new-title {
    width: 75%;
    height: 100%;
}

.list-knowledge .post-knowledge a,
.list-news .post-new .new-title a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}


/* Kiến thức */


/* .list-knowledge{
    min-height: 500px;
    width: 49%;
    border: 1px solid blue;
} */

.slick-initialized .slick-slide {
    margin: 0 10px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 3px;
    z-index: 5;
}

.slick-arrow:hover {
    border-radius: 50%;
    background-color: #F04C28;
    color: #ffffff;
}

.slick-prev {
    background-color: #09A603;
    left: -18px;
    color: #ffffff;
    border-radius: 100%;
}

.slick-next {
    right: -18px;
    background-color: #09A603;
    color: #ffffff;
    border-radius: 100%;
}


/* dấu chấm */


/* .slick-dots{
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 43%;
    transform: translateX(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.slick-dots button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: black;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.slick-dots .slick-active button{
    background-color: #2cccff;
}  */


/* page tìm kím */

.page-search {
    min-height: 500px;
    border: 1px solid #ffffff;
    background: #ffffff;
}

.search-h1 {
    margin: 40px 0;
}

.list-search {
    min-height: 500px;
    margin: 40px 0;
}